my-workflow-24-APvVufGfP42a2RZU.json
{"createdAt":"2026-03-06T13:24:27.659Z","updatedAt":"2026-03-06T13:54:14.971Z","id":"APvVufGfP42a2RZU","name":"My workflow 24","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-960,-160],"typeVersion":1,"id":"95dbe9ca-0ed2-40d8-a08f-e10ef7750796"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"dataArray","type":"n8n-nodes-base.function","position":[-512,0],"typeVersion":1,"id":"923e0bd1-1101-41b9-bd87-8c04dc9b03b0"},{"parameters":{"authentication":"headerAuth","url":"=https://prod-n8n-iacore.lnapps.com.ar/api/v1/workflows","options":{}},"name":"N8N Workflows","type":"n8n-nodes-base.httpRequest","position":[-656,0],"typeVersion":1,"id":"e1026e02-2047-486b-835b-7c012027f1d0"},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"GitHub","type":"n8n-nodes-base.github","position":[-160,-176],"typeVersion":1,"alwaysOutputData":true,"id":"e3330118-1447-4428-afb1-10ca072dfb2f","webhookId":"5581e016-4107-406a-afad-7e41940959a2","credentials":{"githubApi":{"id":"nCHKpSjpvJcdbTJ1","name":"GitHub account"}},"continueOnFail":true},{"parameters":{},"name":"Merge","type":"n8n-nodes-base.merge","position":[48,0],"typeVersion":1,"id":"df6bb38f-d668-4a7c-8a77-f5022ac720eb"},{"parameters":{"url":"=http://localhost:8443/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"N8N Workflow Detail","type":"n8n-nodes-base.httpRequest","position":[-160,160],"typeVersion":1,"id":"9b7de4d9-17af-46ab-9395-4a95d8b20787"},{"parameters":{"dataType":"string","value1":"={{$json[\"github_status\"]}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"name":"github_status","type":"n8n-nodes-base.switch","position":[352,0],"typeVersion":1,"id":"e20c5920-4056-4fde-a4c0-ddeac1aadcac"},{"parameters":{},"name":"same","type":"n8n-nodes-base.noOp","position":[544,-176],"typeVersion":1,"id":"e4001788-b936-4994-a081-fcbb9d376bb5"},{"parameters":{},"name":"different","type":"n8n-nodes-base.noOp","position":[544,0],"typeVersion":1,"id":"5cd97cf0-f452-4a1d-b962-8995ba185e09"},{"parameters":{},"name":"new","type":"n8n-nodes-base.noOp","position":[544,160],"typeVersion":1,"id":"62f2d116-6daf-4ae1-95e5-f18a0cc92de0"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[752,-128],"typeVersion":1,"id":"92f82d60-f0b0-46fd-944c-1aa4ab5e3d6b","webhookId":"0f5a7a34-100f-4bf0-961d-8c51449879b2","credentials":{"githubApi":{"id":"nCHKpSjpvJcdbTJ1","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json","fileContent":"={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}","commitMessage":"=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"data\"][\"name\"]}}.json ({{$json[\"github_status\"]}})"},"name":"GitHub Create","type":"n8n-nodes-base.github","position":[752,160],"typeVersion":1,"id":"45e19aa8-f226-49fb-88a9-7848962200bb","webhookId":"7423c148-32b9-4ca8-904c-d03890a8657a","credentials":{"githubApi":{"id":"nCHKpSjpvJcdbTJ1","name":"GitHub account"}}},{"parameters":{"functionCode":"// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = (items[1].json.data);\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = (items[1].json.data);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn items;"},"name":"isDiffOrNew","type":"n8n-nodes-base.function","position":[192,0],"typeVersion":1,"id":"faba7ec4-67dc-489f-b63a-0c43daac3ae0"},{"parameters":{"triggerTimes":{"item":[{"hour":20,"minute":11}]}},"name":"Daily @ 20:00","type":"n8n-nodes-base.cron","position":[-960,144],"typeVersion":1,"id":"f6cfed3b-ee9d-4a49-9004-6459081d042d"},{"parameters":{"batchSize":1,"options":{}},"name":"OneAtATime","type":"n8n-nodes-base.splitInBatches","position":[-368,0],"typeVersion":1,"id":"7930ca7e-ef3c-416a-963a-9daa6219f9ae"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"octocat"},{"name":"repo.name","value":"Hello-World"},{"name":"repo.path","value":"my-team/n8n/workflows/"}]},"options":{}},"name":"Globals","type":"n8n-nodes-base.set","position":[-816,0],"typeVersion":1,"id":"7440d1cf-b5df-464c-9e4a-72e6f3b285f5"}],"connections":{"new":{"main":[[{"node":"GitHub Create","type":"main","index":0}]]},"same":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"Merge":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Globals":{"main":[[{"node":"N8N Workflows","type":"main","index":0}]]},"dataArray":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"different":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"OneAtATime":{"main":[[{"node":"GitHub","type":"main","index":0},{"node":"N8N Workflow Detail","type":"main","index":0}]]},"GitHub Edit":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"github_status","type":"main","index":0}]]},"Daily @ 20:00":{"main":[[{"node":"Globals","type":"main","index":0}]]},"GitHub Create":{"main":[[{"node":"OneAtATime","type":"main","index":0}]]},"N8N Workflows":{"main":[[{"node":"dataArray","type":"main","index":0}]]},"github_status":{"main":[[{"node":"same","type":"main","index":0}],[{"node":"different","type":"main","index":0}],[{"node":"new","type":"main","index":0}]]},"N8N Workflow Detail":{"main":[[{"node":"Merge","type":"main","index":1}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c5aadb3-56d2-4fa1-aedd-6fbcd3692033","triggerCount":0,"shared":[{"createdAt":"2026-03-06T13:24:27.659Z","updatedAt":"2026-03-06T13:24:27.659Z","role":"workflow:owner","workflowId":"APvVufGfP42a2RZU","projectId":"itvxwdi4NC894Wbd"}],"tags":[]}