reporter-web-page-test-L3kL9HY6U4Svg6b2.json
{"createdAt":"2026-01-13T11:46:19.908Z","updatedAt":"2026-03-06T16:05:28.023Z","id":"L3kL9HY6U4Svg6b2","name":"reporter web page test","active":true,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.slackChannelId }}","mode":"id"},"messageType":"block","blocksUi":"={{ $json }}","text":"No se pudo enviar","otherOptions":{"includeLinkToWorkflow":false,"link_names":false,"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[528,-128],"id":"970ae30f-33e6-40e7-935b-a665a13f8a1d","name":"Send a message1","webhookId":"6577c848-b592-42c6-9142-d859fb52ff63","credentials":{"slackApi":{"id":"o0GifWw6HyGB5XbK","name":"Slack_bot_api"}}},{"parameters":{"resource":"channelMessage","teamId":{"__rl":true,"value":"430b5e02-8c41-4ff2-934a-d16c89850bf5","mode":"list","cachedResultName":"Producto y Tecnologia"},"channelId":{"__rl":true,"value":"={{ $('Webhook').item.json.body.teamsChannelId }}","mode":"id"},"contentType":"html","message":"={{ $json.html }}","options":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[528,176],"id":"50279264-63eb-4add-bf3a-6768d709983e","name":"Create message1","webhookId":"56619ddb-26fe-48f5-9686-cf746507783c","credentials":{"microsoftTeamsOAuth2Api":{"id":"ssHoJXTJAdN67qXK","name":"Microsoft Teams account 3"}}},{"parameters":{"jsCode":"const testsId =\n  $input.first().json.body?.testsId ||\n  $input.first().json.testsId ||\n  [];\n\n/* ======================\n   HELPERS\n====================== */\nconst testItem = (id, index) => `\n<li style=\"margin-bottom:12px;\">\n  <strong>Test WebPageTest #${index + 1}</strong>\n  —\n  <a href=\"https://www.webpagetest.org/result/${id}/\" target=\"_blank\">\n    Ver resultado\n  </a>\n</li>\n`;\n\n/* ======================\n   HTML TEMPLATE\n====================== */\nconst html = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\"/>\n  <title>Resultados WebPageTest</title>\n</head>\n<body>\n  <h1>🌐 Resultados WebPageTest</h1>\n\n  <h2>🔗 Tests ejecutados</h2>\n  ${\n    testsId.length\n      ? `<ul>${testsId.map(testItem).join(\"\")}</ul>`\n      : `<p><em>No se recibieron tests desde el webhook</em></p>`\n  }\n\n  <hr/>\n\n  <h2>📊 Datadog</h2>\n\n  <p>\n    <strong>Abrir dashboard de Datadog:</strong><br/>\n    <a href=\"https://app.datadoghq.com/dashboard/vgn-f8a-3rc/web-page-test?fromUser=false&fullscreen_end_ts=1758313095843&fullscreen_paused=false&fullscreen_refresh_mode=sliding&fullscreen_section=overview&fullscreen_start_ts=1758310695843&fullscreen_widget=4967396420982210&refresh_mode=sliding&tpl_var_env%5B0%5D=prod&tpl_var_label%5B0%5D=%2A&tpl_var_service%5B0%5D=lanacion-arc&tpl_var_url%5B0%5D=%2A&from_ts=1758226681672&to_ts=1758313081672&live=true\"\n       target=\"_blank\">\n       https://app.datadoghq.com/dashboard/vgn-f8a-3rc\n    </a>\n  </p>\n\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,176],"id":"65f2875e-2459-499d-9bb7-a2a97d74b071","name":"armado de slack block3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"818f37d6-2cb9-4a9c-a215-cf14700aab68","leftValue":"={{ $json.body.teamsChannelId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"663322f6-c107-43e9-8008-7d5b42f189ce","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,192],"id":"cdca8519-3c48-4eab-a1c6-70bd9ea0574f","name":"Existe TEAMS ID1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"818f37d6-2cb9-4a9c-a215-cf14700aab68","leftValue":"={{ $json.body.slackChannelId }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,-112],"id":"6654a631-52b9-4f8a-880e-fa48f20b45f9","name":"Existe SLACK ID1"},{"parameters":{"jsCode":"const testsId =\n  $input.first().json.body?.testsId ||\n  $input.first().json.testsId ||\n  [];\n\n/* ======================\n   HELPERS\n====================== */\nconst wptLinks = testsId\n  .map((id, index) => {\n    const testName = `Test WebPageTest #${index + 1}`;\n    return `• *${testName}:* <https://www.webpagetest.org/result/${id}/|Ver resultado>`;\n  })\n  .join(\"\\n\");\n\n/* ======================\n   BLOCKS\n====================== */\nconst blocks = [];\n\n// HEADER\nblocks.push({\n  type: \"header\",\n  text: {\n    type: \"plain_text\",\n    text: \"🌐 Resultados WebPageTest\",\n    emoji: true\n  }\n});\n\n// LISTADO DE TESTS\nblocks.push({\n  type: \"section\",\n  text: {\n    type: \"mrkdwn\",\n    text: testsId.length\n      ? `*Tests ejecutados:*\\n${wptLinks}`\n      : \"_No se recibieron tests desde el webhook_\"\n  }\n});\n\nblocks.push({ type: \"divider\" });\n\n// DATADOG - TEXTO\nblocks.push({\n  type: \"section\",\n  text: {\n    type: \"mrkdwn\",\n    text: \"📊 *Datadog*\\nAbrí el dashboard para ver métricas y logs asociados a los tests.\"\n  }\n});\n\n// DATADOG - BUTTON (VISIBLE EN LIGHT Y DARK)\nblocks.push({\n  type: \"actions\",\n  elements: [\n    {\n      type: \"button\",\n      text: {\n        type: \"plain_text\",\n        text: \"📊 Abrir dashboard en Datadog\",\n        emoji: true\n      },\n      url: \"https://app.datadoghq.com/dashboard/vgn-f8a-3rc/web-page-test?fromUser=false&fullscreen_end_ts=1758313095843&fullscreen_paused=false&fullscreen_refresh_mode=sliding&fullscreen_section=overview&fullscreen_start_ts=1758310695843&fullscreen_widget=4967396420982210&refresh_mode=sliding&tpl_var_env%5B0%5D=prod&tpl_var_label%5B0%5D=%2A&tpl_var_service%5B0%5D=lanacion-arc&tpl_var_url%5B0%5D=%2A&from_ts=1758226681672&to_ts=1758313081672&live=true\"\n    }\n  ]\n});\n\nreturn [{ json: { blocks } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-128],"id":"2fe570ed-ce54-45ae-be92-daef35c3f98b","name":"block slack"},{"parameters":{"httpMethod":"POST","path":"2934a9d7-737a-4e96-8125-25a6485d6368","options":{"responseData":"N8N triggerend successfully"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-480,32],"id":"3bf55bed-79ff-4978-a267-18c857e6b897","name":"Webhook","webhookId":"2934a9d7-737a-4e96-8125-25a6485d6368"},{"parameters":{"content":"## por eliminar","height":80,"width":192},"type":"n8n-nodes-base.stickyNote","position":[160,-240],"typeVersion":1,"id":"fc8b2782-0f34-40e1-9985-463cfe988e4b","name":"Sticky Note"}],"connections":{"armado de slack block3":{"main":[[{"node":"Create message1","type":"main","index":0}]]},"Existe TEAMS ID1":{"main":[[{"node":"armado de slack block3","type":"main","index":0}]]},"Existe SLACK ID1":{"main":[[{"node":"block slack","type":"main","index":0}]]},"block slack":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Existe TEAMS ID1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"prod-n8n-iacore.lnapps.com.ar","content-type":"application/json","x-slack-channel-id":"veamosQueLLega","accept":"*/*","content-length":"201","user-agent":"node-fetch/1.0 (+https://github.com/bitinn/node-fetch)","accept-encoding":"gzip,deflate","x-forwarded-proto":"https","via":"1.1 google","x-forwarded-for":"3.94.202.136,35.208.13.202"},"params":{},"query":{},"body":{"testsId":["260129_YiDcP0_2SV","260129_YiDcR9_2SW","260129_YiDc23_2SX","260129_YiDc4D_2SY","260129_YiDcMM_2SZ","260129_YiDc1Q_2T0"],"slackChannelId":"veamosQueLLega","teamsChannelId":"veamosQueLLega"},"webhookUrl":"https://prod-n8n-iacore.lnapps.com.ar/webhook/2934a9d7-737a-4e96-8125-25a6485d6368","executionMode":"production"}}]},"versionId":"63ef4c61-f804-4fb3-a6dc-66b5d4c29183","triggerCount":1,"shared":[{"createdAt":"2026-01-13T11:46:19.908Z","updatedAt":"2026-01-13T11:46:19.908Z","role":"workflow:owner","workflowId":"L3kL9HY6U4Svg6b2","projectId":"itvxwdi4NC894Wbd"}],"tags":[]}